.board {
  border: 2px solid white;
}

.row {
  display: flex;
}

.cell {
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  box-shadow: 0 0 1px white inset;
  background-color: black;

  &__animation {
    animation-name: disappear;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
  }

  &__filled {
    box-shadow: 0 0 2px black inset;

   &--orange {
     background-color: orange;
   } 

   &--purple {
     background-color: purple;
   }

   &--blue {
     background-color: blue;
   }

   &--turquoise {
     background-color: turquoise;
   }

   &--yellow {
     background-color: yellow;
   }

   &--green {
     background-color: green;
   }

   &--red {
     background-color: red;
   }
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: rotatex(90deg);
  }
  50% {
    opacity: 0.5;
    transform: rotatex(0deg);
  }
  100% {
    opacity: 0;
    display: none;
    transform: rotatex(90deg);
  }
}
