.board {
  border: 2px solid white;
  width: 250px;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
  height: 25px;
}

.cell {
  height: 100%;
  width: 10%;
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.1);
  background-color: black;

  &__filter {
    filter: brightness(30%);
    -webkit-filter: brightness(30%);
  }

  &__animation {
    animation-name: disappear;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
  }

  &__filled {
    box-shadow: 0 0 2px black inset;

   &--orange {
     background-color: orange;
   } 

   &--purple {
     background-color: purple;
   }

   &--blue {
     background-color: blue;
   }

   &--turquoise {
     background-color: turquoise;
   }

   &--yellow {
     background-color: yellow;
   }

   &--green {
     background-color: green;
   }

   &--red {
     background-color: red;
   }
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: rotatex(90deg);
  }
  50% {
    opacity: 0.5;
    transform: rotatex(0deg);
  }
  100% {
    opacity: 0;
    display: none;
    transform: rotatex(90deg);
  }
}

@media screen and (max-width: 500px) {
  .board {
    width: 200px;
  }

  .row {
    height: 20px;
  }

}