body {
  background: black;
}
#app {
  position: relative;
}
.cell {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.btn-group {
  position: absolute;
  bottom: 0;
  right: 0;
}
.btn {
  height: 75px;
  width: 75px;
  box-sizing: border-box;
  padding: 20px;
  background: #aaaaaa;
  border: 2px solid black;
}
